.two-columns__paragraph {
    margin: 30px auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__paragraph:last-child {
    margin: 0px auto;
}

.two-columns__paragraph:first-child {
    margin: 0px auto;
}